body {
    background-color: #661515;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

blockquote {
    font-style: italic;
    color: #FFD700;
    margin: 20px;
    padding-left: 15px;
}

li {
    text-align: left;
    color:aqua
}

a {
    color: #00FFFF;
}

img {
    border: 6px solid #2a2424;
    border-radius: 200px;
}